{
    "printWidth": 120,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "crlf",
    "semi": false,
    "singleQuote": false
}
