<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- Cấu hình log root cho toàn bộ ứng dụng -->
	<root>
		<!-- Chỉ ghi log từ mức ERROR trở lên (ERROR, FATAL) -->
		<level value="ERROR" />
		<!-- Sử dụng appender để ghi log ra file -->
		<appender-ref ref="RollingFileAppender" />
	</root>

	<!-- Cấu hình appender để ghi log vào file -->
	<appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
		<!-- Đường dẫn cơ bản cho file log -->
		<file value="logs/error-log" />

		<!-- Ghi tiếp tục vào file log hiện có (append), không ghi đè -->
		<appendToFile value="true" />

		<!-- Chuyển file log sau mỗi ngày -->
		<rollingStyle value="Date" />

		<!-- Đặt định dạng tên file log có chứa ngày (theo yyyy-MM-dd) -->
		<datePattern value="'.'yyyy-MM-dd'.log'" />

		<!-- Chỉ giữ lại 7 file log dự phòng (log của 7 ngày gần nhất) -->
		<maxSizeRollBackups value="7" />

		<!-- Đặt StaticLogFileName thành false để bổ sung phần ngày tháng vào tên file log -->
		<staticLogFileName value="false" />

		<!-- Định dạng của log -->
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		</layout>

		<!-- Chỉ ghi log từ mức ERROR trở lên -->
		<filter type="log4net.Filter.LevelRangeFilter">
			<levelMin value="ERROR" />
			<levelMax value="FATAL" />
		</filter>

		<!-- Mã hóa file log dưới dạng UTF-8 -->
		<encoding value="utf-8" />
	</appender>


</log4net>
